.main_table {
	text-shadow: 5px 5px 10px blue;
	color: #630;
	font-family: "Courier New", Courier, monospace;
	background-image: linear-gradient(to right, white, #38f);
	font-weight: bold;
}

.main_table > thead {
	background-color: #093;
	color: white;
	text-shadow: none;
}

.table_container {
	margin: 5% auto;
	background-image: linear-gradient(to right, white, #3bf);
	display: block;
}

.acad_heading {
	text-align: center;
	margin: auto;
}
